.body2 {
    background: repeating-linear-gradient(85deg, #b75190, #2d3e8f) fixed;
    padding-top: 15px;
    height: 100Vh;
    display: flex;
    justify-content: center;
    font-family: arial, sans-serif;
    align-items: flex-start;
}

.copyrightContainer {
    user-select: none;
    font-family: "Arial", ui-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.legalMentions {

    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 0.75rem;
    cursor: pointer;
}

.modalPage {
    display: flex;
    font-family: "Arial", ui-serif;
    flex-direction: column;
    align-items: center;
    position: absolute;
    inset: 50px;
    border-radius: 15px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    outline: none;
    padding: 20px;
}