/* ManageAdmin.module.css */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: relative; !* Ajouté pour la position relative *!*/
}

.modal-content-manage {
    max-height: 70%;
    overflow: auto;
    display: flex;
    padding: 50px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-direction: column;
    align-items: center;
}

.modal-content-close {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 10;
}

.buttonManageClose {
    background-color: #3498db;
    color: #fff;
    border: none;
    width: 46px;
    height: 45px;
    padding: 8px 16px;
    border-radius: 50%; /* Optionnel : pour rendre le bouton rond */
    cursor: pointer;
    line-height: 1; /* Ajuster la hauteur de ligne si nécessaire */
    font-size: 16px; /* Ajuster la taille de la police si nécessaire */
}

.buttonManageClose:hover {
    background-color: #ff0000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2px;
}

thead {
    background-color: #f4f4f4;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    color: #333;
}

tr:hover {
    background-color: #f5f5f5;
}

.buttonManage {
    font-family: "Arial", ui-serif;
    margin-top: 9px;
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    height: 2.5rem;
    padding: 8px 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonManage:hover {
    background-color: rgba(255, 120, 117, 0.8);
}

.modal-content-close {
    position: absolute;
    top: 20px;
    right: 20px;
}


.buttonManage.delete-confirm {
    color: red;
}

.inputsManage {
    width: fit-content;
    height: fit-content;
    background: rgba(0, 0, 0, .2);
    border: 2px solid #f1eff1;
    outline: none;
    padding: 5px 5px;
    border-radius: 10px;
}

.my-swal-style {
    font-family: Arial, sans-serif;
    border-radius: 30px;
}
