.modal-personalization {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content-personalization {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border: none;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-personalization {
    color: #999;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-personalization:hover {
    color: #333;
}

.modal-content-personalization h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.character-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    justify-items: center;
}

.character-options div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.character-options div:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.buttonChange {
    margin-top: 5px;
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, #ff416c, #ff4b2b, #ff6a00, #ffb900);
    color: white;
    transition: transform 0.2s, box-shadow 0.2s;
}

.buttonChange:hover {
    background-image: linear-gradient(to right, #5651e5, #1a8bbc, #48c5c9);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.buttonChange:focus {
    outline: none;
}
